{% extends 'base.html' %}
{% block title %}Active Plantings{% endblock %}
{% block body %}
<div class="container">
<table class="table">
<thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Actions</th>
    </tr>
</thead>
<tbody>
{% for planting in data %}
    <tr>
        <th><a href="{{ url('planting', args=[planting.id]) }}">{{ planting.seed.cultivar }}</a></th>
        <th>{{ planting.date }}</th>
        <th><a href="{{ url('admin:api_planting_change', args=[planting.id]) }}"><i class="bi bi-pencil-square"></i></a></th>
    </tr>
{% endfor %}
</tbody>
</table>
<p>{{ data | length }} plantings</p>
</div>
{% endblock %}
