{% extends 'base.html' %}
{% block title %}{{ planting.date }}: {{ planting.seed.cultivar }}{% endblock %}
{% block body %}
<div class="container">
{% set packet = planting.seed %}
{% include 'seedpacket_information.html' %}
</div>
<div class="container">
{% set cultivar = planting.seed.cultivar %}
{% include 'cultivar_information.html' %}
<div class="card">
    <div class="card-body">
    <h3 class="card-title">Planting Notes</h2>
{% for p in planting.notes.splitlines() %}
    <p class="card-text">{{ p }}</p>
{% endfor %}
    </div>
</div>
</div>
<div class="container">
{% for img_row in images | batch(3, False) %}
<div class="row">
{% for img in img_row %}
    <div class="col">
{% if img %}
    <a href="{{ img.image.url }}"><img src="{{ img.image.url }}" class="img-fluid" alt="{{ img.description }}" /></a>
{% endif %}
    </div>
{% endfor %}
</div>
{% endfor %}
</div>
{% endblock %}
