<table class="table table-striped">
    <tbody>
        <tr>
            <th scope="row">Name</th>
            <th>{{ packet.cultivar.category.common_name }}</th>
        </tr>
        <tr>
            <th scope="row"></th>
            <th><em>{{ packet.cultivar.category.name }}</em></th>
        </tr>
{% if packet.cultivar.category.common_name != packet.cultivar.name %}
        <tr>
            <th scope="row">Variety</th>
            <th>{{ packet.cultivar.name }}</th>
        </tr>
{% endif %}
{% for alias in packet.cultivar.aliases | sort %}
        <tr>
            <th scope="row">{% if loop.first %}Aliases{% endif %}</th>
            <th>{{ alias }}</th>
        </tr>
{% endfor %}
        <tr>
            <th scope="row">Seed Source</th>
            <th>
{% if packet.source_planting %}
                <a href="{{ url('planting', args=[packet.source_planting.id]) }}">
{% elif packet.url %}
                <a href="{{ packet.url }}">
{% else %}
                <a href="{{ packet.source.url }}">
{% endif %}
                {{ packet.source.name }}
                </a>
            </th>
        </tr>
        <tr>
            <th scope="row">Packet Date</th>
            <th>{{ packet.date }}</th>
        </tr>
    </tbody>
</table>
